.enviroment
enviroment/
.enviroment/
*/__pycache__
*/.pyc
*/.pyo
*/.egg-info
*/.git
db.sqlite3

# Compiled Python files
__pycache__/
*.py[cod]
*/__pycache__

# Base de datos local
db.sqlite3

# Archivos de entorno
.env
*.env

# Archivos de configuración locales
*.vscode/
*.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
