{% extends 'base.html' %}

{% block title %} Products List {% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {% for product in products %}
        <tr>
          <td scope="row">{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <a href="{% url 'product_detail' product.id %}" class="fa fa-eye" aria-hidden="true"> Ver </a>
            <a href="{% url 'product_delete' product.id %}" class="fa fa-trash" aria-hidden="true"> Borrar </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>El total del valor de los productos es ${{total_price}}</h3>

  <div class="row">
    <div class="col">
      <a href="{% url 'product_create' %}" class="btn btn-info">Crear nuevo producto</a>
    </div>
  </div>
{% endblock %}
